html, body {
    height: 100%;
}

*{
    box-sizing: border-box;
}

div {
    margin: 10px;
    border: 1px solid navy;
}

#kulso {
    height: 100%;
    display: flex; /*Ha van flex-direction, akkor kell a display: flex; is!*/
    flex-direction: column;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    /*box-shadow: 1px 2px 1px 5px #888888;*/
}

#kerdes_szoveg {
    
}

#kozepso {
    display: flex;
    flex-direction: row;
    flex-grow: 1 /*Ha van lehetőség növekedni, növekedni fog, mivel ez fogja kitölteni a rendelkezésre álló helyet*/
}

#valaszok{
    flex-grow: 1; /*Ha nincs kép, akkor csak a válaszok jelennek meg, mivel itt a flex-grow: 1;, de a #kep-nél ez az érték 0!*/
    flex-shrink: 1; /*Ha túl nagy lenne a kép, akkor összenyomja a képet, és a válaszokat nagyítja*/
}

/*Ha mindkét elemhez flex-grow: 1 és flex-shrink:1 szabályokat állítanánk be, egyenlő arányban növekednének illetve csökkennének.*/

#kep {
    overflow: hidden; /*Felesleges, a kép túlnyúló részét rejtené el; de így nem lehet görgetni*/
    flex-shrink: 0;
    flex-shrink: 0;
}

#kep1{

}

#vezerlo {
    display: flex;
    flex-direction: row; /*Egymás mellé rakja a gombokat*/
    justify-content: space-between; /*Az oldal két végére rakja őket*/
}

.gomb {
    padding: 20px;
    width: 80px;
}

.gomb:hover {
    cursor: pointer;
}

.kerdes{

}

.kattinthato:hover {
    background-color: fuchsia;
    color: white;
    cursor: pointer;
}

@media screen and (max-width: 786px) {
    body {
        background-color: red;
    }

    #kozepso{
        display: flex;
        flex-direction: column;
    }

    #kep{
        order: 1;
    }

    #valaszok{
        order: 2;
    }
}

